.filters_box {
    width: 300px;
    height: 100%;

}

.filters_heading {
    display: flex;
    justify-content: center;

    margin: 20px 0!important;

    font-family: Rowdies, sans-serif!important;

}

